/*  General
    ===
*/
    body    {
        background: #16313c;
    }

    .container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }


/*  Connect Prompt
    ===
 */
    .connect-prompt{
        margin: 225px auto 225px 25%;
        height: 50%;
        position: relative;
        width: 450px;
    }
    .connect-prompt__title{
        color: #bbb;
        font-style: 24px;
        line-height: 30px;
        margin: 0 0 10px;
    }
    .connect-prompt__lead{
        color: #999;
        font-style: 14px;
    }
    .connect-prompt__button{
        background: #02796f;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        font-family: "Open Sans";
        font-weight: bold;
        padding: 8px 14px;
        border: none;
        margin: 25px 0;
    }
    .connect-prompt__button:hover{
        background: #058076;
    }
    .connect-prompt__button[disabled] {
        color: #599992;
    }


/*  Connect Box
    ===
 */
    .connect-box{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .connect-box--overlay{
        background: rgba(0,0,0,.35);
    }
    .connect-box__container{
        position: fixed;
        width: 400px;
        min-height: 300px;
        border-radius: 3px;
        background: #fff;
        left: 50%;
        margin: 200px 0px 0px -200px;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0px 1px 2px rgba(0,0,0,.20);
    }
    .connect-box__msg{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #ddd;
        text-transform: uppercase;
        line-height: 270px;
    }
    .connect-box__msg--success{
        color: #02796f;
    }
    .connect-box__title{
        font-size: 22px;
        margin: 10px 0;
        color: #555;
    }
    .connect-box__separator{
        border: 1px solid #eee;
    }
    .connect-box__list{
        margin: 10px 0;
        list-style: none;
        width: 100%;
    }
    .connect-box__list-item{
        width: inherit;
        margin: 2px 0;
    }
    .connect-box__list-link{
        padding: 10px 14px;
        color: #333;
        text-decoration: none;
        position: relative;
        display: block;
    }
    .connect-box__list-link:hover{
        background-color: #eee;
        border-radius: 3px;
    }
    .connect-box__list-link:hover:after{
        position: absolute;
        font-family: FontAwesome;
        font-size: 18px;
        content: "\f105";
        top: 10px;
        right: 18px;
        color: #aaa;
    }


/*  Dashboard Layout
    ===
*/
    .dashboard{
        display: table;
        height: 100%;
        width: 100%;
        background: #f5f5f5;
    }
    .dashboard__sidebar{
        display: table-cell;
        position: relative;
        vertical-align: top;
        width: 200px;
    }
    .dashboard__header{
        width: 100%;
        overflow: hidden;
    }
    .dashboard__content{
        width: 100%;
        overflow: hidden;
        padding: 40px;
        box-sizing: padding-box;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-left: -5px;
    }

/*  Sidebar Minimized
    ---

    Is coupled with layout modifier.
*/
    .dashboard__sidebar--minimized{
        width: 75px;
    }
    .dashboard__sidebar--minimized .nav__link-text{
        display: none;
    }
    .dashboard__sidebar--minimized .site-brand__text{
        display: none;
    }
    .dashboard__sidebar--minimized .nav__link{
        text-align: center;
        font-size: 16px;
    }
    .dashboard__sidebar--minimized .nav__icon{
        margin: 0;
    }


/*  Header Bar
    ===
*/
    .header-bar{
        width: 100%;
        background-color: white;
        box-shadow: 0 0 3px 0px rgba(0,0,0,.25);
    }
    .header-bar__section{}
    .header-bar__item{
        display: inline-block;
    }
    .header-bar__item .header-bar__icon{
        padding: 25px 20px;
        cursor: pointer;
        color: #333;
    }
    .header-bar__item > .header-bar__icon:hover{ background-color: #eee; }
    .header-bar__item--grey .header-bar__icon{ color: #999; }


/*  Sidebar
    ===
*/
    .sidebar{
        position: absolute;
        width: 100%;
        min-height: 100%;
        background: #2f353f;
    }
    .sidebar__section{}

/*  Site Brands
    ===
*/
    .site-brand{
        background: #eee;
        width: 100%;
        line-height: 66px;
    }
    .site-brand__logo{
        text-align: center;
        font-size: 24px;
    }
    .site-brand__text{
        color: #444;
    }
    .site-brand__icon{
        color: #ef5350;
        font-size: 18px;
        margin-right: 2px;
    }

/*  Nav
    ===
*/
    .nav{}
    .nav__list{}
    .nav__list-item{}
    .nav__link{
        padding: 20px 25px;
        display: block;
        color: #a7b1c2;
        text-decoration: none;
        font-size: 14px;
    }
    .nav__link:hover{
        background: rgba(0,0,0,.10);
    }
    .nav__link-icon{
        margin: 0 5px 0 0;
    }

/*  Panel
    ===

    General
    ---
*/
    .panel{
        background: white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        margin: 10px 0 0 10px;
        min-width: 250px;
        flex-grow: 1;
        flex-basis: 250px;
    }
    .panel__container{}
    .panel__content{
        padding: 15px;
    }


/*  Panel Header
    ---
*/
    .panel__header{
        padding: 15px;
        background-color: #fafafa;
    }
    .panel__title{
        margin: 0;
        color: #797979;
        font-size: 14px;
    }

/*  Controls
    ---
*/
    .controls{}
    .controls__item{
        display: inline-block;
        margin: 0 0 0 5px;
    }
    .controls__link{
        color: #797979;
        font-size: 14px;
        cursor: pointer;
        padding: 5px;
    }
    .controls__link:hover{
        color: #666;
    }