<header class="header-bar clearfix">
    <div class="header-bar__section pull-left">
        <div class="header-bar__item header-bar__item--grey" data-toggle="sidebar">
            <i class="header-bar__icon fa fa-bars" title="Toggle Sidebar"></i>
        </div>
    </div>
    <ul class="header-bar__section pull-right">
        <li class="header-bar__item" data-toggle="dropdown">
            <i class="header-bar__icon fa fa-globe" title="Toggle Dropdown"></i>
        </li>
        <li class="header-bar__item" data-toggle="messages">
            <i class="header-bar__icon fa fa-user" title="Toggle Message"></i>
        </li>
    </ul>
</header>