<div class="sidebar">
    <div class="sidebar__section">
        <div class="site-brand">
            <h1 class="site-brand__logo">
                <i class="site-brand__icon fa fa-ioxhost"></i>
                <span class="site-brand__text">urbn</span>
            </h1>
        </div>
    </div>
    <div class="sidebar__section">
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="nav__link" href="#dashboard">
                        <i class="nav__link-icon fa fa-home"></i>
                        <span class="nav__link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="#dashboard/topPages">
                        <i class="nav__link-icon fa fa-bar-chart"></i>
                        <span class="nav__link-text">Top Pages</span>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="#dashboard/trends">
                        <i class="nav__link-icon fa fa-line-chart"></i>
                        <span class="nav__link-text">Trends</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>