<div class="sidebar">
    <div class="sidebar__section">
        <div class="site-brand">
            <h1 class="site-brand__logo">Urban</h1>
        </div>
    </div>
    <div class="sidebar__section">
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a class="nav__link" href="">
                        <i class="fa fa-globe"></i>
                        <span class="nav__link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="">
                        <i class="fa fa-globe"></i>
                        <span class="nav__link-text">Top Pages</span>
                    </a>
                </li>
                <li class="nav__list-item">
                    <a class="nav__link" href="">
                        <i class="fa fa-globe"></i>
                        <span class="nav__link-text">Trends</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>